.container {
	border: 1px solid black;
	float:left;
	position: relative;
	height:500px;
	width:700px;
	display: inline-block;
	background-color:silver;
	border-radius: 7px;
	padding: 10px;
}

.innerShell {
	position: relative;
	height: 450px;
	width: 650px;
	display: inline-block;
	background-color: black;
	margin-top: 25px;
	margin-left: 25px;
	border-radius: 3px;

}


.leftLabel {
	float:left;
	position: relative;
	width: 50px;
	height: 50px;
	display: inline-block;
	background-color: white;
	margin-top: 208px;
	border-radius: 1em;
}

.rightLabel {
	float:right;
	position: relative;
	width: 50px;
	height: 50px;
	display: inline-block;
	background-color: white;
	margin-top: 208px;
	border-radius: 1em;
}

.clockScreen {
	position: relative;
	height:175px;
	width:550px;
	display: inline-block;
	background-color : darkred;
	margin-top: 11px;
	border-radius: 1em;
}

.clockText {
	display: inline-block;
	color:red;
	font-family: Arial, sans-serif;
	font-size: 100px;
	font-weight: bold;
	margin-top: 36px;
	margin-left: 25%;
}

.bottomAm {
	display: inline-block;
	font-color: black;
	font-size: 32px;
	margin-top: 5px;
}


.bottomPm {
	display: inline-block;
	font-color: black;
	font-size: 32px;
	margin-top: 5px;
}