.container {
	border: 10px silver; 
	float:left;
	position: relative;
	height:350px;
	width:700px;
	display: inline-block;
	background-color:grey;
	border-radius: 7px;
	padding: 10px;
}

.innerShell {
	position: relative;
	height: 320px;
	width: 650px;
	display: inline-block;
	background-color: #3F2009;
	margin-top: 15px;
	margin-left: 25px;
	border-radius: 3px;

}

.clockScreen {
	position: relative;
	height:200px;
	width:550px;
	display: inline-block;
	background-color : darkred;
	margin-top: 11px;
	margin-left: 50px;
	border-radius: 1em;
}

.clockText {
	display: inline-block;
	color:red;
	font-family: Arial, sans-serif;
	font-size: 100px;
	font-weight: bold;
	margin-top: 36px;
	margin-left: 25%;
}

.amLabel {
	position: relative;
	display : inline-block;
	background-color: white;
	float : left;
	height: 42px;
	width: 42px;
	border-radius: 50px;
	margin-top: 10px;
	margin-left: 10px;
}

